
<form class="password-form">
    <label for="password" class="password-form-label">Password:</label>
    <div>
        <input [type]="inputType" id="password" name="password" class="password-form-input" [value]="password"  (input)="setValue($event)" required>
        <button class="password-form-toggle-button" (click)="toggleInputType()">{{inputType === "password"? "Show": "Hide"}}</button>
    </div>
    <div class="blocks-container">
        <div class="block" [style.background-color]="colors[0]"></div>
        <div class="block" [style.background-color]="colors[1]"></div>
        <div class="block" [style.background-color]="colors[2]"></div>
    </div>
    <h3 class="password-form-strength"> {{strength}} </h3>
</form>
  